@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
}

body,html {
  overflow-x: hidden;
}

.primary {
  background-color: #5ba1da;
  padding: 5px 20px;
  color: white;
  border: none;
}