.filter {
    box-shadow: 0 0 3px gray;
    padding: 15px 20px;
    border-radius: 10px;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.view-switch {
    border: 1px solid rgb(133, 131, 131);
    padding: 5px 10px;
    border-radius: 5px;
}

.anticon svg {
    font-size: 20px;
    cursor: pointer;
}

.active-icon {
    color: black;
}

.inactive-icon {
    color: gray;
}